@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

*{
    background-color:blueviolet;
    color: #182531;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

h1, h2, h3, h4, p{
    margin-top: 0;
}

/* button */

.subscribe-button{
    background-color: #951717;
    color: #EAE5D9;
    border-radius: 50px;
    height: 60px;
    width: 250px;
    cursor: pointer;
    border:0px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border:0px
}

.subscribe-button:hover{
    background-color: #EAE5D9;
    border: 3px solid #182531;
    color: #182531;
}

.subcribtion-now-button{
    background-color: #951717;
    color: #EAE5D9;
    border-radius: 70px;
    width: 840px;
    height: 70px;
    cursor: pointer;
    border:0px;
    font-weight: 600;
    letter-spacing: 5px;
    border:0px
}

.subcribtion-now-button:hover{
    background-color: #EAE5D9;
    border: 3px solid #182531;
    color: #182531;
}

.button-subcribtion{
    background-color: #647484;
    color: #EAE5D9;
    width: 280px;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
}

.button-subcribtion:hover{
    background-color: #951717;
}

.button-subcribtion:active{
    background-color: #EAE5D9;
    color: #182531;
    border: solid 3px #182531;
}

/* Type */
 .header-link{
    color: #EAE5D9;
    text-decoration: none;
    background-color: #951717;
}  

.promocode-banner{
    background-color: #951717;
    color: #EAE5D9;
    font-size: 28px;
    font-weight: 400;
}

.header-link{
    color: #EAE5D9;
}

.promocode-banner{
    background-color: #951717;
    color: #EAE5D9;
}

.new-box-title{
    font-weight: 400;
    font-size: 68px;
    size: 68px;
    color: #182531;
    line-height: 70px;
}

.subtitle{
    color: #182531;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 4px;
}

.subcribtion-subtitle{
    font-size: 36px;
    color: #182531;
    font-weight: 400;
}

.title-description{
    font-size: 14px;
    letter-spacing: 4px;
    color:#182531;
    font-weight: 600;
}

.title-explanation{
    font-size: 36px;
    color: #EAE5D9;
    font-weight: 400;
}

.text-explanation{
    font-size: 24px;
    color: #EAE5D9;
    font-weight: 400;
}

.title-basis{
    color: #182531;
    font-size: 48px;
    font-weight: 400;
}

.text-basis{
    color: #182531;
    font-size: 16px;
    font-weight: 400;
}

.block-month{
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: 400;
    color: #182531;
}

.text-title-block{
    font-size: 12px;
    font-weight: 400;
    color: #182531;
}

.price-block{
    font-size: 48px;
    font-weight: 400;
    color: #182531;
}

.description-subcribtion-block{
    font-size: 12px;
    font-weight: 400;
    color: #182531;
}

.selected-plan{
    width: 210px;
    background-color: #EAE5D9;
    color: #EAE5D9;
    height: 39px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
}

.selected-plan:hover{
    background-color: #951717;
}

.best-value{
    width: 82px;
    height: 42px;
    text-align: center;
    border-radius: 10px;
    background-color: #951717;
    color: #EAE5D9;
    font-size: 14px;
    font-weight: 400;
}

.section-footer{
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: #EAE5D9;
}

.we-accept{
    font-size: 20px;
    font-weight: 400;
    color: #EAE5D9;
}

.sakuratails{
    font-size: 16px;
    font-weight: 400;
    color: #EAE5D9;
}

.header-section{
    padding-top: 26px;
    padding-left: 150px;
    padding-bottom: 26px;
    padding-right: 150px;
}