@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #EAE5D9;
    color: #182531;
    font-family: "Montserrat", sans-serif; 
    font-weight: 400;
}

.wrapper{
    width: 1920px;
    padding: 26px 150px 26px 150px; 
}

header .logo{
font-weight: 600;
font-size: 28px;
}

header .presentation{
    padding: 0px 150px 0px 150px;
}

.header{
    
}